@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
おしながき
 ================================= */

.page-menu {

  &__item-wrap {
    padding: 120px 12px;
    max-width: 1180px;
    margin: 0 auto;

    @include tab {
      padding: 24px 0px;
    }
  }

  &__item {
    display: flex;
    margin: 0 0 100px;

    @include tab {
      flex-direction: column;
      margin: 0 0 32px;
    }
  }

  &__text-wrap {
    width: 50%;
    padding: 0 0 0 100px;

    @include pc {
      padding: 0 0 0 40px;
    }

    @include tab {
      width: 100%;
      order: 1;
      padding: 0 0 0 24px;
    }
  }

  &__item-ttl {
    font-size: 28px;
    margin: 0 0 40px;

    @include tab{
      margin: 0 0 24px;
      font-size: 24px;
    }
  }

  &__item-ttl-lead {
    margin: -36px 0 40px;

    @include tab{
      margin: -24px 0 40px;
    }
  }

  &__menu-name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  &__menu-price {
    margin: 0 0 40px;

    &--no-margin {
      margin: 0;
    }

    @include tab{
      margin: 0 0 24px;
    }
  }

  &__img {
    width: 50%;

    @include tab {
      width: 100%;
      margin: 0 0 32px;
    }
  }
}

/* =================================
アクセス
 ================================= */

.page-access {

  &__section {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 12px 80px;
  }

  &__map-wrap {
    width: 100%;
    margin: 0 auto 80px;

    @include tab{
      margin: 0 auto 40px;
    }
  }
  
   .map {
      width: 100%;
      height: 0;
      position: relative;
      padding-top: 56.25%;
      overflow: hidden;
  
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }

  &__text-wrap {
    border-bottom: 1px solid #fff;
    padding: 32px 0 16px;

    &--border-none {
      border-bottom: none;
    }
  }

  &__text {
    margin: 0 0 16px;

    &--bold {
      font-weight: bold;
    }
  }
}

/* =================================
アバウト
 ================================= */

.page-about {

  &__slider {
    overflow: hidden;
    margin: 60px 0 80px;
  }

  &__section {
    padding: 0 12px 80px;
  }

  &__sp-img {
    margin: 0 0 40px;
  }

  &__table-wrap {
    max-width: 820px;
    margin: 0 auto;
  }

  &__table {
    width: 100%;

    tr {
      border-top: 1px solid #fff;

      &:last-child {
        border-bottom: 1px solid #fff;
      }
    }

    th {
      text-align: left;
      padding: 16px 2px;
      font-weight: 100;
    }

    td {
      text-align: left;
      padding: 16px 2px;
    }
  }
}


