@charset "UTF-8";
* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
  color: #FFF;
  font-family: "Shippori Mincho", serif;
  background-color: #1C1C1C;
}

p {
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  color: #FFF;
}

a {
  font-size: 16px;
  color: #FFF;
}
@media (max-width: 820px) {
  a {
    font-size: 14px;
  }
}
a:hover {
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: 16px;
}
@media (max-width: 820px) {
  ul,
  ol,
  li {
    font-size: 14px;
  }
}

th,
td {
  font-size: 16px;
}
@media (max-width: 820px) {
  th,
  td {
    font-size: 14px;
  }
}

.pc-block {
  display: block;
}
@media (max-width: 820px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 820px) {
  .sp-block {
    display: block;
  }
}

.main {
  padding: 60px 0 0;
}
@media (max-width: 820px) {
  .main {
    padding: 52px 0 0 0;
  }
}
.main__section-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

.ttl-style {
  text-align: center;
  font-size: 36px;
  margin: 0 0 80px;
  font-size: clamp(1.375rem, 1.057rem + 1.59vw, 2.25rem);
}
@media (max-width: 820px) {
  .ttl-style {
    margin: 0 0 32px;
  }
}
.ttl-style span {
  display: block;
  font-size: 20px;
}
@media (max-width: 820px) {
  .ttl-style span {
    font-size: 16px;
  }
}
.ttl-style--white {
  color: #fff;
}

.section-style {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

.subpage__main-visual {
  margin: 0 0 120px;
}
@media (max-width: 820px) {
  .subpage__main-visual {
    margin: 0 0 40px;
  }
}
.subpage__section {
  padding: 0 12px 140px;
}
@media (max-width: 820px) {
  .subpage__section {
    padding: 0 12px 80px;
  }
}
.subpage__box {
  max-width: 880px;
  margin: 0 auto;
}
.subpage__lead-wrap {
  padding: 0 12px;
}
.subpage__lead {
  text-align: center;
}
@media (max-width: 820px) {
  .subpage__lead {
    margin: 0 auto 24px;
    max-width: 360px;
    text-align: left;
  }
}
.subpage__lead--margin {
  margin: 0 auto 24px;
}

.loading-anime-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #1C1C1C;
  z-index: 9999;
}
.loading-anime-wrap .loading-anime-text {
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-anime-wrap .loading-anime-line {
  background-color: #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 45%;
  transform: scale(0, 1);
  animation: example 1s ease 0.2s 1 forwards;
}
@keyframes example {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.black-bg {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  cursor: pointer;
  opacity: 0;
  transition: all 0.6s;
}
.black-bg.active {
  visibility: visible;
  z-index: 10;
  opacity: 0.6;
}

.follow-btn {
  position: fixed;
  bottom: 160px;
  right: 0;
  opacity: 0;
  transform: translate(80px, 0);
  transition: all 0.5s;
}
@media (max-width: 820px) {
  .follow-btn {
    bottom: 60px;
  }
}
.follow-btn.active {
  opacity: 1;
  transform: translate(0, 0);
}
.follow-btn__item {
  width: 80px;
  display: block;
}
@media (max-width: 820px) {
  .follow-btn__item {
    width: 60px;
  }
}

.fadein-anime {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1s;
}
.fadein-anime.active {
  opacity: 1;
  transform: translate(0, 0);
}

.fadein-anime02 {
  opacity: 0;
  transition: all 1s;
}
.fadein-anime02.active {
  opacity: 1;
}

.fadein-anime03 {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1.2s;
}
.fadein-anime03.active {
  opacity: 1;
}
@media (max-width: 820px) {
  .fadein-anime03 {
    opacity: 1;
  }
}

.fadein-anime04 {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 1.4s;
}
.fadein-anime04.active {
  opacity: 1;
}
@media (max-width: 820px) {
  .fadein-anime04 {
    opacity: 1;
  }
}

.page-style__block {
  margin: 0 0 40px;
}
.page-style .aligncenter {
  display: block;
  margin: 0 auto;
}
.page-style .alignright {
  display: block;
  margin-left: auto;
}
.page-style p {
  margin: 0 0 12px;
  line-height: 24px;
}
.page-style h1 {
  font-size: 28px;
  margin: 24px 0 32px;
  background: linear-gradient(transparent 70%, #575757 70%);
}
.page-style h2 {
  font-size: 22px;
  margin: 24px 0 20px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .page-style h2 {
    font-size: 20px;
  }
}
.page-style h3 {
  font-size: 20px;
  margin: 24px 0 16px;
}
@media (max-width: 600px) {
  .page-style h3 {
    font-size: 18px;
  }
}
.page-style a {
  text-decoration: underline;
}
.page-style ol {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ol li {
  list-style: decimal;
}
.page-style ul {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ul li {
  list-style: disc;
}

/* =================================
おしながき
 ================================= */
.page-menu__item-wrap {
  padding: 120px 12px;
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .page-menu__item-wrap {
    padding: 24px 0px;
  }
}
.page-menu__item {
  display: flex;
  margin: 0 0 100px;
}
@media (max-width: 820px) {
  .page-menu__item {
    flex-direction: column;
    margin: 0 0 32px;
  }
}
.page-menu__text-wrap {
  width: 50%;
  padding: 0 0 0 100px;
}
@media (max-width: 1120px) {
  .page-menu__text-wrap {
    padding: 0 0 0 40px;
  }
}
@media (max-width: 820px) {
  .page-menu__text-wrap {
    width: 100%;
    order: 1;
    padding: 0 0 0 24px;
  }
}
.page-menu__item-ttl {
  font-size: 28px;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .page-menu__item-ttl {
    margin: 0 0 24px;
    font-size: 24px;
  }
}
.page-menu__item-ttl-lead {
  margin: -36px 0 40px;
}
@media (max-width: 820px) {
  .page-menu__item-ttl-lead {
    margin: -24px 0 40px;
  }
}
.page-menu__menu-name {
  font-size: 20px;
  margin: 0 0 6px;
}
.page-menu__menu-price {
  margin: 0 0 40px;
}
.page-menu__menu-price--no-margin {
  margin: 0;
}
@media (max-width: 820px) {
  .page-menu__menu-price {
    margin: 0 0 24px;
  }
}
.page-menu__img {
  width: 50%;
}
@media (max-width: 820px) {
  .page-menu__img {
    width: 100%;
    margin: 0 0 32px;
  }
}
/* =================================
アクセス
 ================================= */
.page-access__section {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 12px 80px;
}
.page-access__map-wrap {
  width: 100%;
  margin: 0 auto 80px;
}
@media (max-width: 820px) {
  .page-access__map-wrap {
    margin: 0 auto 40px;
  }
}
.page-access .map {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.page-access .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-access__text-wrap {
  border-bottom: 1px solid #fff;
  padding: 32px 0 16px;
}
.page-access__text-wrap--border-none {
  border-bottom: none;
}
.page-access__text {
  margin: 0 0 16px;
}
.page-access__text--bold {
  font-weight: bold;
}
/* =================================
アバウト
 ================================= */
.page-about__slider {
  overflow: hidden;
  margin: 60px 0 80px;
}
.page-about__section {
  padding: 0 12px 80px;
}
.page-about__sp-img {
  margin: 0 0 40px;
}
.page-about__table-wrap {
  max-width: 820px;
  margin: 0 auto;
}
.page-about__table {
  width: 100%;
}
.page-about__table tr {
  border-top: 1px solid #fff;
}
.page-about__table tr:last-child {
  border-bottom: 1px solid #fff;
}
.page-about__table th {
  text-align: left;
  padding: 16px 2px;
  font-weight: 100;
}
.page-about__table td {
  text-align: left;
  padding: 16px 2px;
}
/* =================================
会社概要・採用情報
 ================================= */
.outline {
  padding: 0 12px 80px;
}
@media (max-width: 820px) {
  .outline {
    padding: 0 12px 48px;
  }
}
.outline__table-wrap {
  max-width: 720px;
  margin: 0 auto;
}
.outline__table {
  width: 100%;
}
.outline__table tr {
  border-top: 1px solid #1C1C1C;
}
.outline__table tr:last-child {
  border-bottom: 1px solid #1C1C1C;
}
.outline__table th {
  text-align: left;
  padding: 12px 2px;
  font-weight: 100;
}
.outline__table td {
  text-align: left;
  padding: 12px 2px;
}
.philosophy {
  padding: 80px 12px;
  background-color: #1C1C1C;
}
@media (max-width: 820px) {
  .philosophy {
    padding: 48px 12px 48px;
  }
}
.philosophy__text {
  max-width: 740px;
  margin: 0 auto;
  color: #fff;
}
.recruit {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .recruit {
    padding: 48px 12px 48px;
  }
}
.form {
  padding: 80px 12px;
}
@media (max-width: 820px) {
  .form {
    padding: 48px 12px 48px;
  }
}
.form__table-wrap {
  max-width: 720px;
  margin: 0 auto;
}
.form__table {
  width: 100%;
  margin: 0 0 40px;
}
.form__table th {
  text-align: left;
  padding: 12px 2px;
  font-weight: 100;
  width: 140px;
}
@media (max-width: 820px) {
  .form__table th {
    display: block;
    width: 100%;
    padding: 12px 2px 0;
  }
}
.form__table td {
  text-align: left;
  padding: 12px 2px;
  vertical-align: top;
}
@media (max-width: 820px) {
  .form__table td {
    display: block;
    padding: 0 0 12px;
  }
}
.form__table input[type=text] {
  width: 100%;
  padding: 4px;
}
.form__table input[type=radio] {
  vertical-align: baseline;
}
.form__table textarea {
  width: 100%;
  padding: 4px;
}
.form__link {
  text-decoration: underline;
}
.form__link-text {
  text-align: center;
  font-size: 13px;
  margin: 0 0 16px;
}
.form input[type=submit] {
  background-color: #1C1C1C;
  color: #fff;
  width: 160px;
  padding: 8px;
  margin: 0 auto;
  display: block;
  transition: all 0.5s;
}
.form input[type=submit]:hover {
  background-color: #fff;
  color: #1C1C1C;
  cursor: pointer;
}
.form__check-wrap {
  text-align: center;
  margin: 0 0 40px;
}
.form input[type=checkbox] {
  vertical-align: inherit;
}
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================
お問い合わせ
 ================================= */
.page-contact__ttl {
  max-width: 1220px;
  margin: 0 auto;
  font-size: 22px;
  color: #44a136;
  padding: 12px 12px 12px 60px;
}
@media (max-width: 820px) {
  .page-contact__ttl {
    font-size: 20px;
    padding: 10px 12px 10px 24px;
  }
}
.page-contact__section {
  background-color: #f8fbf2;
  padding: 40px 12px 80px;
}
@media (max-width: 600px) {
  .page-contact__section {
    padding: 40px 12px;
  }
}
.page-contact__section-inner {
  max-width: 1100px;
  margin: 0 auto;
}
.page-contact__text {
  margin: 0 0 40px;
}
.page-contact__text span {
  color: #ed1c24;
}
.page-contact__form-wrap {
  background-color: #fff;
  border-radius: 12px;
  padding: 40px;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .page-contact__form-wrap {
    padding: 12px;
  }
}
.page-contact__form-table {
  width: 100%;
}
.page-contact__form-table th {
  text-align: left;
  color: #44a136;
  padding: 14px 0 24px;
  width: 280px;
  vertical-align: top;
}
@media (max-width: 1120px) {
  .page-contact__form-table th {
    width: 180px;
  }
}
@media (max-width: 820px) {
  .page-contact__form-table th {
    width: 100%;
    display: block;
    padding: 16px 0 2px;
  }
}
.page-contact__form-table th span {
  color: #ed1c24;
  display: inline-block;
  margin: 0 0 0 8px;
}
.page-contact__form-table td {
  padding: 16px 0 0;
}
@media (max-width: 820px) {
  .page-contact__form-table td {
    width: 100%;
    display: block;
  }
}
.page-contact__input {
  border: #44a136 1px solid;
  width: 100%;
  padding: 8px;
}
.page-contact__textarea {
  border: #44a136 1px solid;
  width: 100%;
  padding: 8px;
}
.page-contact__bottom-text {
  text-align: center;
  margin: 0 0 12px;
}
.page-contact__last-text-link {
  color: #158ecf;
  text-decoration: underline;
}
.page-contact__checkbox-wrap {
  text-align: center;
  margin: 0 0 40px;
}
.page-contact__checkbox-wrap label {
  color: #44a136;
}
.page-contact__btn-wrap {
  position: relative;
  width: 200px;
}
.page-contact__btn-wrap::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
.page-contact__btn {
  width: 200px;
}

/* =================================
お知らせ
 ================================= */
.page-information__date {
  font-size: 12px;
  color: #ababab;
  margin: 0 0 0 24px;
}
@media (max-width: 600px) {
  .page-information__date {
    display: block;
    margin: 0;
  }
}
.page-information hr {
  margin: 0;
}
.page-information__content {
  padding: 32px 12px;
}
@media (max-width: 600px) {
  .page-information__content {
    padding: 12px 8px;
  }
}
.page-information__bottom-hr {
  margin: 0 0 40px !important;
}
/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  height: 58px;
  background: #000000;
}
@media (max-width: 820px) {
  .header {
    height: 50px;
  }
}
.header.is-hide {
  transform: translateY(-100%);
}
.header.active {
  display: none;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1240px;
  margin: 0 auto;
  gap: 24px;
  padding: 4px 16px;
  height: 58px;
}
@media (max-width: 820px) {
  .header__inner {
    justify-content: space-between;
    padding: 4px 0;
    height: 50px;
  }
}
.header__ttl-wrap {
  padding: 0 0 0 3%;
  max-width: 200px;
  margin: 0 auto 0 0;
}
@media (max-width: 820px) {
  .header__ttl-wrap {
    max-width: 160px;
  }
}
@media (max-width: 820px) {
  .header__menu-wrap {
    display: none;
  }
}
.header__menu-inner {
  display: flex;
  gap: 40px;
}
@media (max-width: 1120px) {
  .header__menu-inner {
    gap: 24px;
  }
}
.header__menu {
  color: #fff;
}
.header__btn-wrap {
  display: none;
}
@media (max-width: 820px) {
  .header__btn-wrap {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 12px 0;
    border: #1C1C1C 1px solid;
    z-index: 999;
    position: relative;
  }
}

.header-btn-wrap {
  display: none;
}
@media (max-width: 820px) {
  .header-btn-wrap {
    display: block;
    cursor: pointer;
    z-index: 99;
    top: 10px;
    right: 12px;
    position: absolute;
  }
}
.header-btn-wrap__btn-img {
  width: 32px;
}

.header-sp {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(100%, 0);
  z-index: 101;
  position: fixed;
  top: -4px;
  right: 0;
  padding: 80px 40px 0;
  background: #000000;
  height: 100vh;
  width: 80%;
}
.header-sp.active {
  opacity: 1;
  transition: all 0.3s;
  transform: translate(0, 3px);
  z-index: 100;
}
.header-sp__btn-img {
  width: 32px;
  display: block;
  cursor: pointer;
  z-index: 99;
  top: 10px;
  right: 12px;
  position: absolute;
}
.header-sp__link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.header-sp__link-item {
  display: flex;
  gap: 10px;
  color: #fff;
}
.header-sp__link-item img {
  width: 24px;
}
.header-sp__link-item span {
  white-space: nowrap;
}
.header-sp__menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin: 0 0 24px;
}
.header-sp__menu-item {
  color: #fff;
}

/* =================================
トップページ
 ================================= */
.main-visual {
  padding: 80px 12px;
  text-align: center;
}
@media (max-width: 820px) {
  .main-visual {
    text-align: left;
    padding: 24px 12px;
  }
}
.main-visual__top-text {
  font-size: 36px;
  margin: 0 0 40px;
}
@media (max-width: 820px) {
  .main-visual__top-text {
    text-align: center;
    font-size: 24px;
    margin: 0 0 24px;
  }
}
.main-visual__img {
  max-width: 200px;
  margin: 0 auto 64px;
}
@media (max-width: 820px) {
  .main-visual__img {
    max-width: 120px;
    margin: 0 auto 32px;
  }
}
.main-visual__bottom-text {
  font-size: 28px;
  margin: 0 0 64px;
}
@media (max-width: 820px) {
  .main-visual__bottom-text {
    font-size: 22px;
    margin: 0 0 32px;
    text-align: center;
  }
}
.main-visual__lead-text {
  margin: 0 0 24px;
}
@media (max-width: 820px) {
  .main-visual__lead-text {
    margin: 0 auto 24px;
    max-width: 260px;
  }
}
.top-history {
  padding: 40px 12px 140px;
}
@media (max-width: 820px) {
  .top-history {
    padding: 0 12px 60px;
  }
}
.top-history__img {
  max-width: 780px;
  margin: 0 auto 60px;
}
@media (max-width: 820px) {
  .top-history__img {
    margin: 0 auto 32px;
  }
}
.top-history__text {
  text-align: center;
  margin: 0 0 60px;
}
.top-history__text:last-child {
  margin: 0;
}
@media (max-width: 820px) {
  .top-history__text {
    text-align: left;
    margin: 0 auto 32px;
  }
}

.top-about {
  padding: 0 0 140px;
}
@media (max-width: 820px) {
  .top-about {
    padding: 0 0 80px;
  }
}
.top-about__box {
  display: flex;
}
@media (max-width: 820px) {
  .top-about__box {
    flex-direction: column;
  }
}
.top-about__text-wrap {
  width: 50%;
  background: #F6F6F6;
  position: relative;
}
@media (max-width: 820px) {
  .top-about__text-wrap {
    width: 100%;
  }
}
.top-about__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media (max-width: 820px) {
  .top-about__text {
    position: static;
    transform: translate(0, 0);
    padding: 60px 12px;
  }
}
.top-about__img {
  width: 50%;
}
@media (max-width: 820px) {
  .top-about__img {
    width: 100%;
  }
  .top-about__img--order {
    order: -1;
  }
}
.top-about__bottom-text {
  text-align: center;
  padding: 0 12px;
  margin: 60px 0 0;
}
@media (max-width: 820px) {
  .top-about__bottom-text {
    text-align: left;
    margin: 32px 0 0;
  }
}

.top-store {
  padding: 0 12px 140px;
}
@media (max-width: 820px) {
  .top-store {
    padding: 0 12px 80px;
  }
}
.top-store__lead {
  text-align: center;
  margin: -40px 0 60px;
}
@media (max-width: 820px) {
  .top-store__lead {
    text-align: left;
    margin: 0 auto 32px;
  }
}
.top-store__box {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  gap: 24px;
}
@media (max-width: 820px) {
  .top-store__box {
    flex-direction: column;
  }
}
.top-store__item {
  width: calc((100% - 24px) / 2);
}
@media (max-width: 820px) {
  .top-store__item {
    width: 100%;
  }
}
.top-store__item-ttl {
  font-size: 24px;
  margin: 0 0 20px;
}
@media (max-width: 820px) {
  .top-store__item-ttl {
    font-size: 20px;
    margin: 0 0 12px;
  }
}
.top-store__item-img {
  margin: 0 0 20px;
}
.top-store__link {
  max-width: 160px;
  display: block;
  margin: 0 0 0 auto;
}

.top-insta {
  padding: 0 12px 140px;
}
@media (max-width: 820px) {
  .top-insta {
    padding: 0 12px 60px;
  }
}
.top-insta__inner {
  max-width: 1120px;
  margin: 0 auto;
}
.top-insta__sub-ttl {
  font-size: 24px;
  margin: 0 0 20px;
}
@media (max-width: 820px) {
  .top-insta__sub-ttl {
    font-size: 20px;
    margin: 0 0 12px;
  }
}
.top-insta__box {
  height: 300px;
  background-color: #acacac;
  margin: 0 0 60px;
}
.top-insta__box:last-child {
  margin: 0;
}

/* =================================
footer
 ================================= */
.footer {
  background: #000000;
  padding: 48px 12px;
}
@media (max-width: 820px) {
  .footer__inner {
    max-width: 540px;
    margin: 0 auto;
  }
}
.footer__logo {
  max-width: 200px;
  display: block;
  margin: 0 auto 32px;
}
.footer__time {
  text-align: center;
  margin: 0 0 24px;
  font-size: 14px;
}
.footer__link {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 0 24px;
}
@media (max-width: 820px) {
  .footer__link {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
.footer__link-item {
  display: flex;
  color: #fff;
  gap: 10px;
  font-size: 14px;
}
.footer__link-item img {
  width: 24px;
}
.footer__link-item span {
  white-space: nowrap;
}
.footer__menu {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
@media (max-width: 820px) {
  .footer__menu {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
.footer__menu-item {
  color: #fff;
  border-left: 1px solid #fff;
  padding: 0 24px;
  font-size: 14px;
}
.footer__menu-item:first-child {
  border-left: none;
}
@media (max-width: 820px) {
  .footer__menu-item {
    border-left: none;
  }
}
.footer__bottom {
  font-size: 10px;
  text-align: center;
  color: #fff;
}/*# sourceMappingURL=style.css.map */